.menu-item {
  max-width: 500px;
  border-radius: 8px;
  padding: 20px;
  background: #a42514;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
}

.menu-items {
  max-width: 500px;
  border-radius: 8px;
  padding: 20px;
  background: #10a400;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
}

.menu-item .text p {
  margin-bottom: 0px;
  font-size: 13px;
}
.menu-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.menu-item .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-items .text p {
  margin-bottom: 0px;
  font-size: 13px;
}
.menu-items img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.menu-items .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
